body{
    font-family: sans-serif;
}
*{
    margin:0;
    padding:0;
}
section{
    height: 100vh;
    width:100vw;
    
}
.container{
    max-width:700px;
    width:100%;
    margin:auto;
    
    height:50vh;
    display:flex;
    align-items:center;
    justify-content: center;

    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto;

    background-image: url(images/sculpture.jpg);
    background-size:cover;
    box-shadow: rgb(121, 121, 121) 1px 1px 10px;
    
}
.text{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size:20px;
    color: rgba(255, 255, 255, 0.623);
    margin:0;
   
}

.tour{
    border: 1px solid rgb(0, 0, 0);
    background-color:#803e00;
    
    padding:10px 20px;
    color:white;
    font-weight:600;
    border-radius: 5px;
    cursor: pointer;
    
}
.tour:hover{
    transition: all 0.3s ease 0s;
    color:#ffffff;
    background-color:rgba(255, 146, 83, 0.5);
    padding:10px;
    border-radius: 5px;
    padding:15px 25px;
    border-radius: 8px;
  }
  .tour{
    transition:all 0.3s ease 0s;
 }
.logo{
    width:50px;

}
.tour{
    margin:20px;
}
h1, p{
    margin:10px;
}