
*{
    margin:0px;
}
textarea{
    resize:vertical;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(img/background.png);
    background-size:cover;
    
    

}
.row {
    display:flex;
    flex-direction:column;
    max-width:1700px;
    margin:0 auto;
  }
header{ 
    background-color:black;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:10px;
    padding-right:10px;
    max-width: 1700px;
    margin:0 auto;
}

header > nav > ul{
    list-style-type:none;
    padding:0px;
}



.header-div{
    display: flex;
    justify-content:center;
    background-color:black;
}
header> nav > ul a {
    color: white;
    padding:10px;
    display:block;
    text-decoration:none;
}

.about{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:10px;
    padding-right:10px;
}
.about p{
    color: rgb(134, 134, 134);
}
.about h3{
    color:white;
}
.btn-download {
    border: 2px solid rgb(255, 255, 255);
    background-color: Transparent;
    background-repeat:no-repeat;
    color: rgb(255, 255, 255);
    padding: 14px 28px;
    margin-top:30px;
    margin-bottom:30px;
    font-size: 16px;
    cursor: pointer;
  }

.free, .Started, .Input{
    padding:20px;
      width:400px;
      margin-left:30px;
      margin-right:30px;
  }
.free, .Started{
    display: flex;
    justify-content:center;

}
.free{
    background-color: #f5f5f5;
    color:#767676;
    margin-top:20px;
}
.Input{
    background-color:white;
    color:#d6d6d6;
    padding-top:20px;
    padding-bottom:20px;
}
.Input p{
    padding:10px;
}
.Started{
    background-color:#ff9b51;
    color:#fff4ee;
    margin-bottom:30px;
}

.text, .logo{
    background-color:#ffffff;
    padding:10px;
    max-width:1200px;
}
.text{
    color:#c8c8ca;
}
.footer{
    background-color: black;
    color:white;
    padding:10px;
    padding-top:20px;
    padding-bottom:20px;
    display:block;
   text-align: center;
}



@media(min-width: 980px){
    header{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    header> nav > ul{
        /* making unorderded list a flex box container*/
        display: flex;
    }
    .row {
        display:flex;
        flex-direction:row;
        max-width:1200px;
        margin:0 auto;
      }
    .free, .Started, .Input{
        padding:20px;
          width:400px;
          margin-left:60px;
          margin-right:60px;
      }

    /* elements should be all functional*/
    /*also needs buttons and atext*/
}