/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
   body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color:white;
    /*keeps the edges not broken*/
  }
  *{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  
  li, a {
   font-size:16px;
   text-decoration:none;
   color:rgb(255, 255, 255);
   font-weight:500;
  }
  header{
    background-color:#55727a;
    padding: 30px 10%;
  }
  img{
    width:30px; 
    fill:white;
  }
  .logo{
    cursor:pointer;
  }
  .first-ul{
    list-style:none;
  }
  .first-ul li{
   display: block;
   padding: 10px 0px;
   
  }
  .second-ul li{
    padding: 10px 0px;
  }
  .first-ul li a{
     transition:all 0.3s ease 0s;
  }
  .first-ul li a:hover{
    transition: all 0.3s ease 0s;
    color:#ffffff;
    background-color:#3e5e6c;
    padding:10px;
    border-radius: 5px;
  }
  .second-ul li a{
    transition:all 0.3s ease 0s;
 }
 .first-ul li a{
  transition:all 0.3s ease 0s;
}
 .second-ul li a:hover{
   transition: all 0.3s ease 0s;
   color:#ffffff;
   background-color:#3e5e6c;
   padding:10px;
   border-radius: 5px;
   
 }
  .second-ul{
    list-style:none;
  }

  /* CSS Rules for every page size */

  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
@media(min-width:980px){
  header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 10%;
  }
  .first-ul{
    display:flex;
    flex-direction: row;

  }
  .first-ul li{
   padding:0px 20px;
   
  }
  .second-ul{
    display:flex;
    flex-direction:row;
  }
  .second-ul li{
    display: block;
     padding: 0px 20px;
  }
  
}
